coverage
docs/gen
node_modules/*
**/node_modules/*
npm-shrinkwrap.json
npm-debug.log
.DS_Store
fabric-shim/.DS_Store
test/.DS_Store
// ignore vscode config
.vscode
// ignore webstorm config
.idea
yarn.lock
.nyc_output
**/typescript/*.js
**/typescript/*.js.map
fabric*.tgz
test/fv/annotations/dist
test/fv/*/node_modules
test/scenario/node_modules

build/**/network/crypto-material/*.block
build/**/network/crypto-material/*.tx
build/**/network/crypto-material/crypto-config
build/**/network/crypto-material/core.yaml

# Rush files
common/temp/**
.rush/temp/**
